<p id="notice"><%= notice %></p>

<h1><small>Nombre Empresa: <br></small><%= @company.name %></h1>
<div class="row">
  <div class="col-md-3 col-sm-3">
    <%= form_with(model: [@company, @employee], local: true) do |form| %>
      <%= form.hidden_field :company_id, value: @company.id %>
      <div class="field form-group">
        <%= form.label :first_name %>
        <%= form.text_field :first_name, class:'form-control' %>
      </div>
      <div class="field form-group">
        <%= form.label :last_name %>
        <%= form.text_field :last_name, class:'form-control' %>
      </div>

      <div class="field form-group">
        <%= form.label :email %>
        <%= form.text_field :email, class:'form-control' %>
      </div>
      <div class="field form-group">
        <%= form.label :area_id %>
        <%# form.collection_select(:area, Area.all, :id, :name)  %>
        <%# form.select :area, Area.pluck(:name, :id) %>
        <%= form.select :area_id, Area.pluck(:name, :id) %>
      </div>

      <div class="actions">
        <%= form.submit "Enviar", class:'btn btn-default' %>
      </div>
    <% end %>
  </div>
  <div class="col-md-9 col-sm-9">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Email</th>
          <th>Area</th>
          <th colspan="1"></th>
        </tr>
      </thead>
      <tbody>
        <% @company.employees.each do |employee| %>
          <tr>
            <td>
              <%= employee.first_name %>
            </td>
            <td>
              <%= employee.last_name %>
            </td>
            <td>
              <%= employee.email %>
            </td>
            <td>
              <%= employee.area.name %>
            </td>
            <td>
              <%= link_to "Borrar", company_employee_path(@company, employee), method: :delete, class:'btn btn-danger' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
